* {
    box-sizing: content box;
    background-color: #FFFDFA;
}

header {
    margin: 20px;
    padding: 20px;
}

nav {
    padding: 10px 10px 10px 1000px;
}

li {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    background-color: #FFFDFA;
}

#small-profile-photo {
    height: 100px;
    width: 100px;
}

/*comment out pong html banner for now
.banner {
    background-color: rgb(231, 94, 174);
    color: black;
    text-align: center;
    padding: 10px 0;
    font-family: 'cursive';
    font-size: 18px;
}*/

.fixed-column {
    padding: 40px auto;
    margin: 40px;
}

.scrollable-column {
    padding: 40px auto;
    margin 40px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'cursive', serif;
}

p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'cursive', serif;
}