* {
    box-sizing: content box;
    margin: 0;
    padding: 0;
    background-color: #FFFDFA;
}

header {
    margin: 20px;
    padding: 20px;
}

#small-profile-photo {
    height: 100px;
    width: 100px;
}

.banner {
    background-color: rgb(231, 94, 174);
    color: black;
    text-align: center;
    padding: 10px 0;
    font-family: 'cursive';
    font-size: 18px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    font-family: 'cursive', serif;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    font-family: 'cursive', serif;
}