* {
}

body {
    background-color: #FFFDFA;
}

head {
  /* irrelevant for style contains mostly links and meta data */
}

header {
    margin: 30px;
    padding: 30px 30px 30px 800px;
    box-sizing: content-box;
    position: static;
    
}

nav {
  
}

ul.header {
 display: flex;
 list-style: none;
}
li.header {
    padding: 10px;
    margin: 20px;
    border: 2px solid;
    border-radius: 5px;
    background-color: #FFFDFA;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--medium-spacing);
}

#small-profile-photo {
    height: 100px;
    width: 100px;
}

/*comment out pong html banner for now
.banner {
    background-color: rgb(231, 94, 174);
    color: black;
    text-align: center;
    padding: 10px 0;
    font-family: 'cursive';
    font-size: 18px;
}*/

.fixed-column {
    position: fixed;
    padding: 100px;
    margin: 500px, 100px, 100px, 100px;
}

.scrollable-column {
    position: relative; 
    margin: 30px;
    padding: 30px 30px 30px 500px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'cursive', serif;
}

p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'cursive', serif;
}


li { /*listing contact info and other non-header lists*/
    padding: 10px;
}